<div class="grid grid-nogutter surface-section text-800 mb-4">
    <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center">
        <section>
            <span class="block text-6xl font-bold mb-1">{{ title }}</span>
            <div class="text-6xl text-primary font-bold mb-3">{{ subTitle }}</div>
            <p class="mt-0 mb-4 text-700 line-height-3">
                {{ description }}
            </p>

            <button
                pButton
                pRipple
                label="Learn More"
                type="button"
                class="mr-3 p-button-raised"
            ></button>
            <button
                pButton
                pRipple
                label="Contact Us"
                type="button"
                class="p-button-outlined"
            ></button>
        </section>
    </div>
    <div class="col-12 md:col-6 overflow-hidden relative-landing">
        <img
            src="assets/suits/{{imageNumber}}.{{imageFormat}}"
            alt="Image"
            class="responsive-image"
            style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%); width: 100%; height: auto; object-fit: cover"
        />
    </div>
</div>
