<div class="layout-footer flex-wrap gap-4 mx-4">
  <div class="flex flex-column align-items-center">
    <span class="pi pi-truck text-3xl text-primary"></span>
    <span class="text-lg mt-2">Free Delivery</span>
  </div>

  <div class="flex flex-column align-items-center">
    <span class="pi pi-box text-3xl text-primary"></span>
    <span class="text-lg mt-2">Easy exchange and returns</span>
  </div>

  <div class="flex flex-column align-items-center">
    <span class="pi pi-dollar text-3xl text-primary"></span>
    <span class="text-lg mt-2">Budget Friendly</span>
  </div>
</div>

<div class="layout-footer justify-content-center">
  <img
    src="assets/layout/images/{{ layoutService.config().colorScheme === 'light' ? 'logo-dark' : 'logo-white' }}.svg"
    alt="Logo"
    height="20"
    class="mr-2"
  />
  <span class="font-medium ml-2">Mens Wear by AA</span>
</div>
